@charset "UTF-8";

.localLogDetail-container {
	max-width: 900px;
	margin: auto;
	/*padding-top: 20px;*/
	/*margin-top: 60px;*/
}

#topBtn {
	position: fixed;
	right: 10%;
	bottom: 3%;
	transition: 0.7s ease;
}

.on {
	/*opacity: 0.8;*/
	cursor: pointer;
	bottom: 0;
}

#arrowUp {
	font-size: 45px;
	color: gainsboro;
}

.back-button {
	/*position: absolute;
	top: 240px;
	left: 380px;*/
	font-size: 24px;
	text-decoration: none;
	color: black;
}

.back-button:hover {
	text-decoration: none;
	color: black;
}

.carousel-inner {
	position: relative;
}

.gradient-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	z-index: 1;
}

.carousel-inner img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.rounded-circle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f9fa;
}

.card-img-overlay {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 2;
	width: calc(100% - 20px);
}

.card-title,
.card-text {
	color: white;
	margin: 0;
}

#localLogBookmark {
	position: absolute;
	bottom: 10px;
	font-size: 28px;
	color: black;
	right: 10px;
}

#localLogClap {
	position: absolute;
	bottom: 10px;
	font-size: 28px;
	color: black;
	right: 60px;
}

.guestbook-container {
	border: 1px dashed #ccc;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
}

.guestbook-question {
	font-size: 16px;
	margin: 0px;
	padding-top: 10px;
}

.guestbook-instruction {
	color: #888;
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.guestbook-instruction i {
	margin-left: 5px;
}

.guestbook-like-button {
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	color: #6e6e6e;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

.guestbook-like-button:hover {
	text-decoration: none;
}
/*.guestbook-like-button.beforelike {
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	color: #6e6e6e;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

.guestbook-like-button.beforelike i {
	margin-right: 5px;
}

.guestbook-like-button.afterlike {
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	color: #000000;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}

.guestbook-like-button.afterlike i {
	margin-right: 5px;
}*/

#writeToGuestBook {
	text-decoration: none;
	font-size: 14px;
	color: black;
}

#writeToGuestBook:hover {
	font-weight: bold;
}

/*.bookmark-icon {
	position: absolute;
	right: 10px;
	bottom: 1px;
	font-size: 28px;
	color: black;
	z-index: 10;
	 Ensure it is above other elements 
}


.bookmark-icon:hover {
	color: black;
}*/

.bookmark-icon {
  font-size: 28px;
  color: black;
  margin-right: 10px;
}

.bookmark-icon:hover {
  color: black;
}

.clapping-icon {
  font-size: 28px;
  color: black;
}

.clapping-icon:hover {
  color: black;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}