@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

h4 {
	font-family: 'Pretendard-SemiBold';
	text-align: center;
}

.findingPassword-container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
}

.findingPassword-form .form-group label {
    text-align: left;
    display: block; 
}

.findingPassword-form .form-group .validation-message {
    display: none;
    color: lightcoral;
    font-size: 13px;
    margin-top: 5px; 
}

#submitBtn {
	color: white;
	background-color: black;
	border: none;
	font-size: 20px;
	height: 50px;
	border-radius: 0;
}

.form-control:not(#submitBtn) {
	border-radius: 0;
	height: 45px;
}

.form-control:focus {
	border-color: black;
	box-shadow: none;
}