@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

h4 {
	font-family: 'Pretendard-SemiBold';
	text-align: center;
}

.resetPassword-container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
}

.resetPassword-form .form-group label {
	text-align: left;
	/* Add this to align text to the left */
	display: block;
	/* Makes span behave like a block element, allowing text-align to work */
}

.resetPassword-form .form-group span {
	color: lightcoral;
	font-size: 13px;
	text-align: left;
	/* Add this to align text to the left */
	display: block;
	/* Makes span behave like a block element, allowing text-align to work */
}

#confirm {
	color: white;
	background-color: black;
	border: none;
	font-size: 20px;
	height: 50px;
	border-radius: 0;
}

.form-control:not(#confirm) {
	border-radius: 0;
	height: 45px;
}

.form-control:focus {
	border-color: black;
	box-shadow: none;
}

#ment {
	font-size: 16px;
	color: dimgray;
	text-align: center;
}