@charset "UTF-8";

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.card {
	max-width: 400px;
	width: 100%;
	border: none;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.10);
	border-radius: 10px;
	overflow: hidden;
}

.card img {
	border-bottom: 1px solid #e0e0e0;
}

.card-body {
	padding: 20px;
}

.card-title {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: bolder;
}

.card-text.text-muted {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.card-text {
	font-size: 16px;
	margin-bottom: 0px;
}

.card-body::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#topBtn {
	position: fixed;
	right: 10%;
	bottom: 3%;
	transition: 0.7s ease;
}

.on {
	cursor: pointer;
	bottom: 0;
}

#arrowUp {
	font-size: 45px;
	color: gainsboro;
}