.addAPlace_title {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
}

.addAPlace_title a {
	text-decoration: none;
	color: inherit;
}

.addAPlace_title i {
	margin-right: 8px;
}

#inputPlaceName {
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0;
}

#inputPlaceName:focus {
	box-shadow: none;
	outline: none;
}

.category-section {
	margin-bottom: 20px;
}

.category-section b {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}

.category-options {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

/*.option-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ced4da;
	border-radius: 30px;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: white;
	color: black;
}

.option-btn:hover {
	background-color: black;
	color: white;
	border-color: black;
}

input[type="checkbox"]:not(#visibility) {
	display: none;
}

input[type="checkbox"]:checked+.option-btn {
	background-color: black;
	color: white;
	border-color: black;
}*/

.option-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ced4da;
	border-radius: 30px;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: white;
	color: black;
}

.option-btn:hover {
	background-color: black;
	color: white;
	border-color: black;
}

/* 기존 체크박스 스타일 숨기기 제거 */
input[type="radio"] {
	display: none;
}

/* 선택된 라디오 버튼의 스타일 변경 */
input[type="radio"]:checked+.option-btn {
	background-color: black;
	color: white;
	border-color: black;
}


#complete {
	color: white;
	background-color: black;
	border: none;
	height: 50px;
	font-size: 20px;
	border-radius: 30px;
}

#complete:focus {
	box-shadow: none;
}

#region_1depth_name,
#region_2depth_name {
	border-radius: 0;
	border: 1px solid #ced4da;
}

#region_1depth_name:focus,
#region_2depth_name:focus {
	border-color: black;
	box-shadow: none;
}