@charset "UTF-8";

#addAPlace .search-input {
	border: 1px solid black;
	border-radius: 25px;
	padding: 10px 40px 10px 20px;
	width: 200px;
	outline: none;
}

#addAPlace .search-btn {
	position: absolute;
	right: 160px;
	top: 60%;
	transform: translateY(-45%);
	border: none;
	background: none;
	cursor: pointer;
}

#places-list {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10px;
}

.place-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 5px 0;
}