@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

h4 {
	font-family: 'Pretendard-SemiBold';
}

.gusetBook-container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.guestBook-form .form-control:not(#write) {
	border-radius: 0;
}

.guestBook-form .form-control:focus {
	border-color: black;
	box-shadow: none;
}

#map-pin {
	font-size: 48px;
	background: #eee; 
	border-radius: 50%;
	padding: 5%
}

#place {
	border: none;
	background-color: white;
	color: dimgrey;
	font-size: 20px;
	font-weight: bold;
}

#write {
	color: white;
	background-color: black;
	border: none;
	height: 50px;
	font-size: 20px;
	border-radius: 30px;
}

#visibility {
	font-size: 14px;
	color: dimgrey;
}

input[type='checkbox'] {
    accent-color: black;
}

.companions-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #f0f0f0;*/
    /*border: 1px solid #ddd;*/
    border: 1px solid #ced4da;
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.option-btn:hover {
    /*background-color: #e0e0e0;*/
    background-color: black;
    color: white;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .option-btn {
    background-color: black;
    color: white;
    border-color: black;
}

