@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

h4 {
	font-family: 'Pretendard-SemiBold';
}

.gusetBook-container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.guestBook_title {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
}

.guestBook_title a {
	text-decoration: none;
	color: inherit;
}

.guestBook_title i {
	margin-right: 8px;
}

.gusetBook-container .guestBook-form .form-control:not(#submitBtn):not(#place) {
	border-radius: 0;
	border: 1px solid #ced4da;
}

.gusetBook-container .guestBook-form .form-control:not(#submitBtn):not(#place):focus {
	border-color: black;
	box-shadow: none;
}

#place:focus {
	box-shadow: none;
}

#place {
	border: none;
	background-color: white;
	color: dimgrey;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
}

#submitBtn {
	color: white;
	background-color: black;
	border: none;
	height: 50px;
	font-size: 20px;
	border-radius: 30px;
}

input[type='checkbox'] {
	accent-color: black;
}

.companions-options {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.option-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ced4da;
	border-radius: 30px;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
}

.option-btn:hover {
	background-color: black;
	color: white;
	border-color: black;
}

input[type="checkbox"]:not(#visibility) {
	display: none;
}

input[type="checkbox"]:checked+.option-btn {
	background-color: black;
	color: white;
	border-color: black;
}

.guestBook-container label:not(.option-btn) {
	font-size: 16px;
	/*color: dimgrey;*/
	color: #212529;
	text-align: left;
}

.form-group.row {
	display: flex;
	align-items: center;
}

.form-group.row .col {
	flex-grow: 1;
}

.form-group.row .col label {
	flex-shrink: 0;
}

.form-control-link {
	position: absolute;
	top: 52%;
	right: 20px;
	/* 인풋 필드의 오른쪽 끝에서 약간의 여유를 둡니다 */
	transform: translateY(-50%);
	background: #E9ECEF !important;
	border: none;
	padding: 0;
	cursor: pointer;
	color: dimgrey !important;
	text-decoration: none !important;
	font-size: 18px;
	/* 아이콘 크기 */
}

.form-control-link i {
	font-size: inherit;
}


#placeInfoResult {
	color: dimgray
}

#placeNameReslut {
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}