@charset "UTF-8";

.archive-container {
	max-width: 700px;
	margin: auto;
	padding: 20px;
	margin-top: 60px;
}

#firstRecord {
	font-size: 20px;
	height: 50px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 30px;
	width: 300px;
	box-shadow: none;
}

#nickname {
		font-family: 'Manrope', sans-serif;
		font-size: 20px;
		font-weight: bold;
}

.archive-container ul li a {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    font-weight: bold;
}

.archive-container ul li a:hover, 
.archive-container ul li a.active {
    color: black;
}

#profileNoimage {
	font-size: 48px;
}

#updateProfile {
	color: gray;
	text-decoration: none;
}
