@charset "UTF-8";

.archive-container {
	max-width: 700px;
	margin: auto;
	padding: 20px;
	margin-top: 60px;
}

#firstRecord {
	font-size: 20px;
	height: 50px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 30px;
	width: 300px;
	box-shadow: none;
}

#nickname {
	font-family: 'Manrope', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.archive-container ul li a {
	text-decoration: none;
	color: lightgray;
	font-size: 18px;
	font-weight: bold;
}

.archive-container ul li a:hover,
.archive-container ul li a.active {
	color: black;
}


#updateProfileLink {
	color: gray;
	text-decoration: none;
}

.photo-placeholder {
	width: 120px;
	height: 120px;
	border: 1px dashed darkgray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: darkgray;
	border-radius: 50%;
	position: relative;
}

.profile-photo {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#topBtn {
	position: fixed;
	/*right: 1rem;*/
	right: 10%;
	bottom: 3%;
	transition: 0.7s ease;
}


.on {
	/*opacity: 0.8;*/
	cursor: pointer;
	bottom: 0;
}

#arrowUp {
	font-size: 45px;
	color: gainsboro;

}

/*.modal-body {
    padding: 1.5rem;
    text-align: center;
}

.btn-block {
    display: block;
    width: 100%;
}

#deleteGuestBookBtn {
    color: black;
    font-size: 18px;
}

#deleteGuestBookBtn:hover {
    font-weight: bold;
}

#deleteGuestBookBtn:focus {
    box-shadow: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/

/*.btn-block {
    display: block;
    width: 100%;
}

#deleteGuestBookBtn {
    color: black;
    font-size: 18px;
}

#deleteGuestBookBtn:hover {
    font-weight: bold;
}

#deleteGuestBookBtn:focus {
    box-shadow: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-body .d-flex.align-items-center {
    justify-content: center;
    width: 100%;
}*/

.custom-switch .custom-control-input:checked~.custom-control-label::before {
	background-color: #007bff;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
	background-color: #fff;
	transform: translateX(1.5rem);
	/* Adjusted for bigger size */
}

.custom-switch .custom-control-label::before {
	width: 3rem;
	/* Increase width */
	height: 1.5rem;
	/* Increase height */
	pointer-events: all;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-switch .custom-control-label::after {
	top: 0.25rem;
	/* Adjusted for bigger size */
	left: 0.25rem;
	/* Adjusted for bigger size */
	width: 1rem;
	/* Adjusted for bigger size */
	height: 1rem;
	/* Adjusted for bigger size */
	transition: transform 0.15s ease-in-out;
}

.btn-block {
	display: block;
	width: 100%;
}

#deleteGuestBookBtn {
	color: black;
	font-size: 18px;
	border-radius: 0;
	text-align: left;
}

#deleteGuestBookBtn:hover {
	font-weight: bold;
}

#deleteGuestBookBtn:focus {
	box-shadow: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	/* 줄어든 너비 */
	height: 28px;
	/* 줄어든 높이 */
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: black;
}

input:focus+.slider {
	box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

.slider.round {
	border-radius: 28px;
}

.slider.round:before {
	border-radius: 50%;
}

.modal-body .d-flex.align-items-center {
	justify-content: center;
	width: 100%;

}

#visibilityStatus {
	font-size: 18px;
	text-align: left;
}

